
<h1><%=@list.name%></h1>
    <%@list.items.each do |item|%>
    <ol>
        <li><a href="/items/<%=item.id%>"> <%=item.name%></a>: $<%=sprintf"%.2f",item.price%> </li>
    </ol>
    <%end%>
    <br/>
    <a href='/items/new'> Create new Item </a>
    <br/>
    <a href="/lists/<%=@list.id%>/edit"> Edit List </a>
    <br/>
    <a href="/user/<%=session[:user_id]%>"> Return to your lists</a>
